@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
    font-family: 'Assistant', sans-serif;
    background-color: rgb(211, 227, 241);}


h2{
    font-size: 32px;}


.cor_vermelha {
    background-color: pink;
    color: white;
    border-radius: 3px;
    height: 46px;
    width: 240px;
    text-align: center;
    align-content: center;}


.cor_amarela {
    background-color: plum;
    color: white;
    border-radius: 3px;
    height: 46px;
    width: 500px;
    text-align: center;
    margin-top: 30px;}


h1 {
    background-color: hotpink;
    height: 70px;
    border-radius: 3px;
    color: white;
    font-size: 50px;
    padding: 0%;
    margin: 0%;}


.links {
    color:rgb(114, 35, 216);}


.links:visited {
    color: rgb(54, 16, 114);}

.links:hover {
    color:rgb(96, 124, 248);
    font-size: 190%;
}


 ol li a {
    font-size: 26px;}